.co{
  

}
.slot{
    width: 120px;
     padding: 10px;
     border-radius: 12px;
     border: 1px solid white;
     color: gray;
     font-weight: 600;
     font-size: 16px;
     display: flex;
     align-items: center;
     justify-content: center;
   :hover{
     background-color: #436A02;
     border-color: #436A02;
     color: white;
   }
   }
.active-slot{
    background-color: #436A02;
    border-color: #436A02;
    color: white;
}

.slots{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-bottom: 16px;
   margin-top: 16px;

}

.infos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name{
        font-family: monospace;
        font-size: 18px;
        font-weight: 600;

    }
    .dd-flex{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    
    }

}

.edit-btn{
    ion-button{
        --background:white;
        --color:gray;
        width: 300px;
        --background-hover:#white;;
        --background-hover-opacity:0.5;
        --background-activated:#F5A200; 
        --color-activated:white;
        border: 1px solid gray;
        border-radius: 12px;
      }

}

.text{
    height: 200px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #436A02;
  text-align: start;
  line-height: 1.3;

}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}
.content{
    height: 100vh;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 32px;
    gap: 32px;
  }

  ion-button{
    --background:#F5A200;
    --color:white;
    width: 300px;
    --background-hover:#F5A200;;
    --background-hover-opacity:0.5;
    --background-activated:#f5a30073; 
  }

  .footer-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }