form{
   
  }
  .desc{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}
  .number{
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
    color: white;
  }
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
   
}
 .title{
    font-family: monospace;
    font-weight: 600;
    font-size: 24px;
    color: #436A02;
   
}
    
.stat{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    }
    .stat-2{
        padding: 8px;
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: #F5A200;
        border: 1px solid #F5A200 ;
        border-radius: 16px;
        }    
.stat-1{
    padding: 8px;
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #F5A200;
    border: 1px solid #F5A200 ;
    border-radius: 16px;
    }
.content{
    height: 70vh;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 32px;
    gap: 32px;
  }
  .btn{

    width: 100%;
  
    display: flex;

    align-items: center;
    justify-content: center;
   
  }
  ion-button{
    --background:#F5A200;
    --color:white;
    width: 300px;
    --background-hover:#F5A200;
    --background-hover-opacity:0.5;
    --background-activated:#F5A200
  }
  .footer-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }