<ion-content [fullscreen]="true">
    <div class="content">
      <app-status-state
      title="Congratulation"
      message="Your campaign was successfully created!!"
      buttonLink="auth/sign-up"
      buttonText="OK">
    </app-status-state>
    
    <!-- <app-status-state 
      title="Congratulation"
      message="Your post was successfully created!!"
      buttonLink="/app/publish"
      buttonText="OK">
    </app-status-state>
    
    <app-status-state 
      title="Congratulation"
      message="Your account has been successfully created!!"
      buttonLink="/app/home"
      buttonText="Thank you">
    </app-status-state>
    
    <app-status-state 
      title="Congratulation"
      message="Your subscription was successfully completed!!"
      buttonLink="/app/do-compaign"
      buttonText="Proceed">
    </app-status-state>
    
    <app-status-state 
      title="Echec"
      message="Vérification failed"
      imageSrc="../../../assets/error-state.png"
      buttonLink="/auth/sign-up"
      buttonText="Try again"
      isError="true"
      errorDetail="We were unable to create your account, please verify your information and try again.">
    </app-status-state>
    
    <app-status-state 
      title="Echec"
      message="We were unable to complete your package subscription"
      imageSrc="../../../assets/error-state.png"
      buttonLink="/app/pack"
      buttonText="Relaunch the transaction"
      isError="true"
      errorDetail="Please check your account and try again.">
    </app-status-state> -->
  </div>
</ion-content>



