<!-- detail post page -->
<ion-content [fullscreen]="true">
  <div class="content-all">


    <div class="content">
      <app-mekit-button class="menu-bar"></app-mekit-button>
      <div class="title"> Détails publicités</div>
    
  
      <div class="container">
        <div class="stat-2">
         
            <span class="number">20</span>
            <span class="desc">Accumulated bonus</span>
       
      </div>
  
  
      </div>
      <div class="container">
        <div class="container">
          <div class="stat">
            <div class="stat-1">
              
                <span class="number">920</span>
                <span class="desc">Share</span>
            </div>
            <div class="stat-1">
            
                
                <span class="number">52</span>
                <span class="desc">Intrested</span>
            </div>
           
          </div>
  
  
        </div>
        
  
        
  
      </div>
        
  
      
      
    </div>
  
  
    <div class="prosp">
      <span>Prospects en ligne</span>
      <div class="box">
        <div>600 </div >
        <div  >Prospects ont</div >
        <div  >contactés l’entreprise</div >
      </div>
  
    </div>
  </div>
 

</ion-content>

