<ion-content [fullscreen]="true">
  <div class="content">
   

    <div class="header-page">
      <img src="../../../assets/logoLight.svg" alt="" srcset="">
      <div class="title">Create an ad</div>
      <div class="description">Fill the blanc space to create your item and publish</div>

    </div>



    <div class="form">

      <div class="id-element upload-bg">
        <div class="label">Upload  your National Identity card <span class="red">*</span> </div>
        <div class="import-doc-lg">
          <img src="../../../assets/upload-doc.svg" alt="" srcset="">
          
          <span class="doc-name">your trade register (.pdf)</span>
        </div>
        
      </div>


      <div class="input">
        <div class="label">Item name<span class="red">*</span> </div>

        <div class="input-mekit">
          <ion-input  color="warning" placeholder="Type yere your item name"></ion-input>
        </div>
      </div>


      


<div class="d-flex">


  <div class="input put-1">
    <div class="label">Amount<span class="red">*</span> </div>
    <div class="input-mekit">
      <ion-input  color="warning" placeholder="XAF"></ion-input>
    </div>
  </div>

  <div class="input put-1">
    <div class="label">Catégorie <span class="red">*</span> </div>
    <div class="input-mekit align-end">
      <ion-list>
        <ion-item>
          <ion-select placeholder="Chose cathégorie">
            <ion-select-option value="Service">Service</ion-select-option>
            <ion-select-option value="Bien etre">Bien etre</ion-select-option>
            <ion-select-option value="Accessoires">Accessoires</ion-select-option>
            <ion-select-option value="Vestimentaire">Vestimentaire</ion-select-option>
            <ion-select-option value="Vestimentaire">Appareil</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>
     


    </div>

    

    

    <div class="btn">
      <ion-button >Create ad</ion-button>

    </div>
      

    

  </div>
</ion-content>
