.c{
    

  }

.d-flex{
    width: 100%;
   display: flex; 
   justify-content: space-between;
   align-items: center;


}

.d-flex-center{
   display: flex; 
   justify-content:center;
   align-items: center;

}
  