.c{
    

  }

.d-flex{
    width: 100%;
   display: flex; 
   justify-content: space-between;
   align-items: center;
   // position: fixed;
   // padding-bottom: 30px;
   // right: 0;
   // left: 0;
   background-color: white;
   // padding-bottom: 30px;

}

.d-flex-center{
   display: flex; 
   justify-content:center;
   align-items: center;

}
  