.content{
    height: 100vh;
    width: 100vw;
    background-image:url(../../../assets/bgMekit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 32px;
    gap: 32px;
    margin-bottom: 300px;
    margin-top: 50px;

  }
  .co{
  

  }
 
  .btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  }
  .id-doc{
  

  }
  .id-element{
  
    width: 100%;
  }
  .doc-name{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    color: gray;
   

  }
  .import-doc{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    border-width: 1px ;
   box-shadow:black;
   border-radius:8px;
   height: 90px;
   width: 160px;

  }

  .import-doc-lg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     border-width: 1px ;
    box-shadow:black;
    border-radius:8px;
    height: 90px;
    width: 100%;
    margin-top: 16px;
 
   }
  .red{
    color: red;

  }
  .infos-1{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;

  }
  .form{
    width: 100%;

  }
  .header-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  }
  .title{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: black;

  }

  .description{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    text-align: center;
  

  }
  ion-button{
    --background:#436A02;
    --color:white;
    width: 300px;
    --background-hover:#436A02;
    --background-hover-opacity:0.5;
    --background-activated:#436A02 ;
  }

.input{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  gap:8px;
  margin-top: 16px;
  width: 100%;

}
.label{
  text-align: start;
  font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    color: black;
}
  .input-mekit{
    background-color: white;
    padding: 8px;
    width: 100%;
    border:solid 1px #F5A200;
    border-radius: 16px;
  }
  .align-end{
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;

  }

  ion-input{
    --color: black;
  }