<ion-content [fullscreen]="true">
  <div class="content">
   
   
    <div class="header-page">
      <img src="../../../assets/logoLight.svg" alt="" srcset="">
      <div class="title">
        <div class="">Validation </div>
        <div class=""> de paiement</div>
      </div>
     

    </div>

  <div class="form">
     <div class="input">Veuillez saisir votre numéro de téléphone <span class="red">*</span> </div>

    <div class="input-mekit">
      <img [src]="paymentImage" alt="Mode de paiement" srcset="">
      <ion-input  color="warning" placeholder="Numéro de telephone"></ion-input>
    </div>

  </div>

  <div class="btn">

    <ion-button>Create</ion-button>

  </div>

</div>
  
   

  
   
      

    


</ion-content>

