.content{
    height: 100vh;
    width: 100%;
    background-image:url(../../../assets/bgMekit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;

  }