<ion-content [fullscreen]="true">
  <div class="content">
 
    <div class="header-page">
      <div class="image">
        <img src="../../../assets/lologo.svg" alt="" srcset="">

      </div>
      
     
    </div>   
    <div class="title">
      <div class="">Planning de ramassage </div>
     
    </div>  
    <ion-searchbar value="lieu"></ion-searchbar>
    <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Akwa</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Bonandjo</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Second Content</div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>Bonapriso</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="four">
          <ion-item slot="header" color="light">
            <ion-label>NewBell</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="five">
          <ion-item slot="header" color="light">
            <ion-label>Deido</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="eleven">
          <ion-item slot="header" color="light">
            <ion-label>Bepanda</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="twelve">
          <ion-item slot="header" color="light">
            <ion-label>Ndog-mbong</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="six">
          <ion-item slot="header" color="light">
            <ion-label>Cite des palmiers</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="seven">
          <ion-item slot="header" color="light">
            <ion-label>Beedi</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="height">
          <ion-item slot="header" color="light">
            <ion-label>Makepe</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="nine">
          <ion-item slot="header" color="light">
            <ion-label>Bonamoussadi</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
        <ion-accordion value="ten">
          <ion-item slot="header" color="light">
            <ion-label>Bonaberi</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
