.co{
  

}
.w-full{
    width: 100%;

}
.list-pack{ 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

}
.content{
    // height: 100vh;
    width: 100vw;
    background-image:url(../../../assets/bgMekit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 32px;
    gap: 32px;

    margin-top: 50px;

}
 

  .header-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  }
  .title{
    margin-top: 24px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: black;

  }

  .description{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    text-align: center;
  

  }

