<!-- pack page -->
<ion-content [fullscreen]="true">
  <div class="content">
   
   
    <div class="header-page">
      <img src="../../../assets/lologo.svg" alt="" srcset="">
      <div class="title">Subscription</div>
      <div class="description">Available packages: Choose a package to start recycling</div>

    </div>

    <div class="list-pack">
      <div class="list-pack">
        <app-souscription 
          class="w-full" 
          borderClass="border-junior" 
          title="Pack Home" 
          price="3500Fcfa/mois" 
          [details]="['8 ramassages par mois']">
        </app-souscription>
      
        <app-souscription 
          class="w-full" 
          borderClass="border-silver" 
          title="Pack Special" 
          price="4500Fcfa/mois" 
          [details]="['10 ramassages,2 demandes']">
        </app-souscription>
      
        <app-souscription 
          class="w-full" 
          borderClass="border-gold" 
          title="Pack Etab" 
          price="5000Fcfa/mois" 
          [details]="['15 ramassages , demandes +']">
        </app-souscription>
      </div>
      
    </div>
   

  
      

    

  </div>
</ion-content>
